.ingredient {
    width: calc(100% / 3 - 10px);
    padding: 10px 5px;
    background-color: #fff9f3;
    border-radius: 20px;
    color: #1e1348;
    transition: .3s;
    user-select: none;
    margin: 0 5px;
}

.ingredient:nth-child(n+4) {
    margin-top: 10px;
}

.ingredient_image {
    text-align: center;
    font-size: 25px;
}

.ingredient_title {
    text-transform: capitalize;
    margin-top: 5px;
    text-align: center;
    font-family: SimploLight;
}

.ingredient.active {
    /* background-color: #2add33;
    box-shadow: 0 0 5px 1px #2add33; */
    background-color: #fb9200;
    box-shadow: 0 0 5px 1px #fb9200;
    color: #fff;
}

.ingredient.additional {
    transform: scale(.97);
}

.ingredient.contains.active {
    background-color: #dd2a2a;
    box-shadow: 0 0 5px 1px #dd2a2a;
}