.overviewSearchBox {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.search_block input::placeholder,
.filtertext {
    font-family: SimploLight;
    color: #a59fbf;
    font-size: 15px;
}

.search_block input {
    width: 100%;
    font-family: SimploLight;
    color: #a59fbf;
    font-size: 15px;
    margin-left: 20px;
    border: none;
    outline: none;
}

.search_block {
    display: flex;
    padding: 7px 30px 7px 20px;
    border-radius: 20px;
    width: 75%;
    background-color: #fff;
}

.filter_block {
    align-items: center;
    display: flex;
    background-color: #fff;
    padding: 7px 30px 7px 20px;
    border-radius: 20px;
    border: none;
}

.filtertext {
    margin-left: 10px;
}