.overviewMainBlock {
    width: 55%;
    background-color: #faf9fb;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
    height: 100%;
    max-width: 85%;
    margin: auto;
}

.recommendation_title {
    display: flex;
    justify-content: space-between;
    color: #1e1348;
    font-size: 20px;
}

.recommendation_title button {
    background-color: #faf9fb;
    border: none;
    display: flex;
}

.button_view_text {
    color: #fb9200;
    font-size: 15px;
    margin-right: 5px;
    padding-top: 1px;
}

.recommended_dishes_block {
    justify-content: space-between;
    display: flex;
}
